<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestureInteractionServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <GestureInteractionServer.Properties.Settings>
      <setting name="DEVICE_STATE_EXCLUSIVE" serializeAs="String">
        <value>EXCLUSIVE</value>
      </setting>
      <setting name="DEVICE_STATE_SHARED" serializeAs="String">
        <value>SHARED</value>
      </setting>
      <setting name="DEVICE_STATE_NOT_CONNECTED" serializeAs="String">
        <value>NOT_CONNECTED</value>
      </setting>
      <setting name="BUS_NOT_MANAGED" serializeAs="String">
        <value>NOT_MANAGED</value>
      </setting>
      <setting name="BUS_ALREADY_ACTIVATED" serializeAs="String">
        <value>ALREADY_ACTIVATED</value>
      </setting>
      <setting name="BUS_ACTIVATED" serializeAs="String">
        <value>ACTIVATED</value>
      </setting>
      <setting name="DB_DEVICES_COLLECTION" serializeAs="String">
        <value>DEVICES</value>
      </setting>
      <setting name="DB_STREAMS_COLLECTION" serializeAs="String">
        <value>STREAMS</value>
      </setting>
      <setting name="DB_GESTURES_COLLECTION" serializeAs="String">
        <value>GESTURES</value>
      </setting>
      <setting name="DEV_OUTTYPE_DEPTH" serializeAs="String">
        <value>DEPTH</value>
      </setting>
      <setting name="DEV_OUTTYPE_RGB" serializeAs="String">
        <value>RGB</value>
      </setting>
      <setting name="DEV_OUTTYPE_SKELETON" serializeAs="String">
        <value>SKELETON</value>
      </setting>
      <setting name="DEV_OUTTYPE_CURSOR" serializeAs="String">
        <value>CURSOR</value>
      </setting>
      <setting name="DB_STRATEGIES_COLLECTION" serializeAs="String">
        <value>STRATEGIES</value>
      </setting>
      <setting name="RECO_WINDOW_SIZE" serializeAs="String">
        <value>25</value>
      </setting>
    </GestureInteractionServer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
